<div class="error">
    <div class="error__title">404</div>
    <div class="error__subtitle">Hmmm...</div>
    <div class="error__description">It looks like one of the developers fell asleep</div>
    <a asp-controller="Home" asp-action="Index" class="error__button error__button--active">Home</a>
</div>
